.left-content {
    position: absolute;
    background-color: #242526;
    width: 350px;
    height: auto;
    left: 16px;
    border-radius: 8px;
    margin-right: 8px;
    box-sizing: border-box;
    overflow: visible;
}

.search {
    position: relative;
    top: 8px;
    height: 36px;
    width: 328px;
    border-radius: 8px;
    align-items: center;
}
