.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    overflow: hidden;
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary);
        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.title {
    margin-left: 10px;
}

.active-icon {
    display: none;
}
.action-tippy {
    text-align: center;
    color: white;
}
.action-btn {
    color: white;

    font-size: 2rem;
    background-color: transparent;
    padding: 0px 56px;
    cursor: pointer;
    border-radius: 10%;
    &:hover {
        background: rgba(0, 0, 0, 0.07);
    }
}
