.menu-item {
    display: flex;

    align-items: center;
    justify-content: center;
    justify-items: center;

    width: 112px;
    height: 56px;

    margin: 2px;
    padding: 8px;
    font-size: 1.8rem;
    font-weight: 700;

    overflow: hidden;
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary);
        .icon {
            display: none;
        }
        .active-icon {
            display: flex;
        }
        border-bottom: blue solid 5px;
    }

    &:hover {
        border-radius: 8px;
        background: rgba(22, 24, 35, 0.03);
    }
}
.title {
    margin-left: 10px;
}

.active-icon {
    display: none;
    color: blue;
}
.action-tippy {
    text-align: center;
    color: white;
}
.action-btn {
    color: white;

    font-size: 2rem;
    background-color: transparent;

    cursor: pointer;
    border-radius: 10%;
    &:hover {
        background: rgba(0, 0, 0, 0.07);
    }
}
