.menu {
    position: fixed;
    height: 670px;
    width: 608px;
    background-color: #323436;
    top: 50px;
    right: 50px;
    border-radius: 8px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}
.header-menu {
    font-size: 24px;
    font-family: 900;
    padding: 8px 16px;
}
